.dropdown-content {
  position: fixed;
  display: none; /* revert to inline-block */
}

.dropdown-content {
  min-width: 200px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content ul li a {
  color: black;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  max-height: 54px;
}

.dropdown-content ul li {
  list-style: none;
}

#searchbar-container {
  display: flex;
  margin-left: auto;
}
